@model Note
@using Nevernote.Models
@{
    ViewBag.Title = "Заметки";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Новая заметка</legend>
        <div class="editor-label">
            <h3 style="margin-bottom: 10px;">Новая заметка:</h3>
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(m => m.Content)
            @Html.ValidationMessageFor(m => m.Content)
        </div>

        <p><input type="submit" value="Создать" /></p>
    </fieldset>
}

@foreach (Note item in ViewBag.Notes)
{
    <div class="note">
        <p class="title">
            @item.Date <span>(@Html.ActionLink("Удалить", "Delete", new { id = item.NoteId }))</span>
        </p>
        @Html.Raw(item.Content) <br />
    </div>
}
